pkgbase = fastly-git
	pkgdesc = A CLI for interacting with the Fastly platform. (development version)
	pkgver = v0.26.3.r3.g5999618
	pkgrel = 1
	url = https://github.com/fastly/cli
	arch = x86_64
	license = APACHE
	makedepends = go>=1.13
	depends = git
	optdepends = rust: compute support
	provides = fastly
	conflicts = fastly
	source = cli::git+https://github.com/fastly/cli.git#branch=master
	sha256sums = SKIP

pkgname = fastly-git

