pkgbase = fastly-bin
	pkgdesc = A CLI for interacting with the Fastly platform. Pre-compiled.
	pkgver = 0.26.3
	pkgrel = 1
	url = https://github.com/fastly/cli
	arch = x86_64
	license = APACHE
	makedepends = go>=1.13
	depends = git
	optdepends = rust: compute support
	provides = fastly
	conflicts = fastly
	source_x86_64 = fastly_v0.26.3_amd64.tar.gz::https://github.com/fastly/cli/releases/download/v0.26.3/fastly_v0.26.3_linux-amd64.tar.gz
	sha256sums_x86_64 = dd19bdf2c8c67afa59866322a2f4eb773b17b909c34be6edd215b44c549fd6ae

pkgname = fastly-bin

